body {
    padding: 0;
    margin: 0;
    background-color: #EEEEEE;
}

header {
    background-color: #2874f0;
    height: 90px;
    justify-content: center;
}

.head {
    background-color: #2874f0;
}

.logo {
    margin-top: 15px;
}

.plus-colour {
    color: #ffe500;
    font-weight: 500;
    font-style: italic;
}

.logo-colour {
    position: relative;
    top: -4px;
    color: white;
    font-style: italic;
    font-size: 11px;
}

.login {
    color: #2874f0;
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    padding: 7px 30px;
    width: 90px;
    margin-right: 35px;
}

.btn-1 {
    border: none;
    text-align: center;
    margin-left: 200px;
}

.search-bar i {
    margin-top: 12px;
    color: #2874f0;
    background-color: white;
    height: 20px;
    padding-top: 10px;
}

.search-bar {
    width: 250px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #2874f0;
}

.navbar-brand {
    margin-left: 600px;
}

.form-control {
    width: 30%;
}

.nav-link img {
    height: 18px;
    width: 20px;
    margin-right: 2px;
}

.text {
    color: white;
    font-weight: bold;
}

.fa-solid {
    color: white;
}

.arrow {
    color: #505050;
}

.search-button {
    background-color: white;
    border: none;
    border-radius: 1px;
}

.category {
    margin-left: 10px;
}

.category img {
    width: 60px;
    height: 60px;
    padding-top: 10px;
}

.category a {
    text-decoration: none;
    color: #505050;
    font-family: Roboto, Arial, sans-serif;
    height: 60px;
    font-weight: bold;
}

.product-nav {
    height: 90px;
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.product-nav::-webkit-scrollbar {
    display: none;
}

section {
    background-color: #F1F3F6 !important;
}

.col-1 {
    margin-top: 200px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 5px;
    margin-left: 5px;
}

.card img {
    height: 160px;
    width: 150px;
}

.products {
    overflow: hidden;
}

.adv img {
    height: 520px;
}

.view-btn {
    width: 100px;
    font-size: 20px;
    font-family: Roboto, Arial, sans-serif;
}

.heading h2 {
    font-size: 22px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

.category a:hover {
    color: #2874f0;
}

.main {
    width: 98%;
}

.main-2 {
    width: 98%;
}

.heading-1 {
    font-size: 17px;
    color: #A5A5A5;
}

.card-title {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.card-text {
    color: green;
    font-weight: lighter;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
}

.card-text-1 {
    font-size: 14px;
    color: #A5A5A5;
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
}

.category-product {
    border: 1px solid grey;
    margin-left: 35px;
    margin-right: 20px;
    height: 500px;
    width: 80%;
    padding: 5px;
    background-color: white;
}

.category-product-2 {
    border: 1px solid grey;
    margin-left: 35px;
    margin-right: 20px;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 150%;
    background-color: white;
    padding: 5px;
}

.left-heading-2 h2 {
    font-size: 22px;
    margin-top: 27px;
    margin-left: 10px;
    font-weight: bold;
    font-family: Roboto, Arial, sans-serif;
}

.left-heading-2 h4 {
    display: flex;
    flex-direction: row;
    font-size: 17px;
    font-weight: normal;
    color: #A5A5A5;
    margin-top: 30px;
}

.left-heading-2 img {
    margin-top: 23px;
    height: 35px;
}

.left-heading-2 {
    display: flex;
    flex-direction: row;
    width: 350px;
}

.scroller {
    overflow-x: scroll;
}

.scroller-1 {
    overflow-x: scroll;
    overflow: hidden;
}

.left_top_section_btn {
    height: 75px;
    width: 35px;
    box-shadow: 2px 2px 2px #A5A5A5;
    background-color: white;
    border: none;
    margin-top: 120px;
}

.right_top_section_btn {
    height: 75px;
    width: 35px;
    box-shadow: -3px 3px 3px #A5A5A5;
    background-color: white;
    border: none;
    margin-top: 120px;
}

.fa-solid {
    color: black;
}

.scroller-1 {
    overflow-x: scroll;
}

.card:hover img {
    transform: scale(1.06);
}

.arrow-1 {
    color: white;
}

.products-2 {
    margin-right: 15px;
}

.btn {
    margin-top: 25px;
}

.product-nav {

    display: flex;
    overflow: auto;
    justify-content: center;
    flex-wrap: nowrap;
}

.product-nav::-webkit-scrollbar {}

@media(max-width: 2560px) {
    .navbar-brand {
        margin-left: 800px;
    }
}

@media(max-width: 2300px) {
    .navbar-brand {
        margin-left: 700px;
    }
}

@media(max-width: 2200px) {
    .navbar-brand {
        margin-left: 650px;
    }
}

@media(max-width: 2000px) {
    .navbar-brand {
        margin-left: 600px;
    }
}

@media(max-width: 1800px) {
    .main {
        width: 95%;
    }

    .main-2 {
        width: 102%;
    }

    .navbar-brand {
        margin-left: 400px;
    }
}

@media(max-width: 1750px) {
    .main {
        width: 98%;
    }
}

@media(max-width: 1700px) {
    .main {
        width: 95%;
    }

    .main-2 {
        width: 104%;
    }
}

@media(max-width: 1550px) {
    .main {
        width: 93%;
    }

    .main-2 {
        width: 106%;
    }
}

@media(max-width: 1440px) {
    .navbar-brand {
        margin-left: 350px;
    }

    .main {
        width: 90%;
    }

    .main-2 {
        width: 109%;
    }

    .login {
        margin-left: 60px;
    }

    .left-heading-2 {
        font-size: 18px;
        width: 250px;
    }

    .left-heading-2 {
        display: flex;
        flex-direction: row;
    }

    .left-heading-2 {
        font-size: 18px;
    }
}

@media(max-width: 1311px) {
    .category-product {
        height: 520px;
    }

    .adv img {
        height: 520px;
    }

    .left-heading-2 {
        display: flex;
        flex-direction: row;
    }

    .navbar-brand {
        margin-left: 300px;
    }

    .main-2 {
        width: 111%;
    }
}

@media(max-width: 1250px) {
    .main {
        width: 88%;
    }

    .main-2 {
        width: 113%;
    }
}

@media(max-width: 1200px) {
    .navbar-brand {
        margin-left: 250px;
    }
}

@media(max-width: 1170px) {
    .main {
        width: 86%
    }

    .main-2 {
        width: 115%;
    }
}

@media(max-width: 1120px) {
    .main {
        width: 84%
    }

    .main-2 {
        width: 117%;
    }
}

@media(max-width: 1100px) {
    .navbar-brand {
        margin-left: 220px;
    }

    .main {
        width: 83%;
    }

    .main-2 {
        width: 119%;
    }

    .product-nav {
        height: 130px;
    }

    .left-heading-2 {
        display: flex;
        flex-direction: column;
    }

    .left-heading-2 img {
        display: none;
    }

    .left-heading-2 h4 {
        margin-top: -20px;
        margin-left: 10px;
    }
}

@media(max-width: 1050px) {
    .main {
        width: 81%;
    }

    .main-2 {
        width: 78%;
    }
}

@media(max-width: 1000px) {
    .navbar-brand {
        margin-left: 120px;
    }

    .main {
        width: 80%;
    }

    .category-2 {
        width: 115%;
    }

    .product-nav {
        justify-content: start;
    }

    .btn-1 {
        margin-left: 5px;
        margin-top: 10px;
        padding: 7px;
    }

    .nav-link {
        margin-left: 5px;
    }

    .btn-1 {
        margin-left: 50px;
        margin-top: -3px;
    }
}

@media(max-width: 988px) {
    .navbar-brand {
        margin-left: 15px;
    }

    .logo {
        margin-top: 10px;
    }

    .btn-1 {
        margin-left: 5px;
        margin-top: 10px;
        padding: 7px;
    }

    .main-2 {
        width: 80%;
    }
}

@media(max-width: 950px) {
    .main {
        width: 75%;
    }

    .main-2 {
        width: 83%;
    }

    .navbar-brand {
        margin-left: 15px;
    }

    .login {
        margin-top: 10px;
        margin-left: 5px;
    }

    .nav-link {
        margin-left: 5px;
    }
}

@media(max-width: 922px) {
    .main {
        width: 75%;
    }
}

@media(max-width: 875px) {
    .main-2 {
        width: 85%;
    }
}

@media(max-width: 830px) {
    .main {
        width: 70%;
    }

    .main-2 {
        width: 88%;
    }

    .navbar-brand {
        margin-left: 15px;
    }
}

@media(max-width: 790px) {
    .main-2 {
        width: 90%;
    }
}

@media(max-width: 768px) {
    .main {
        width: 65%;
    }

    .main-2 {
        width: 92%;
    }

    .navbar-brand {
        margin-left: 15px;
    }

    .category-product-2 {
        height: 530px;
    }
}

@media(max-width: 728px) {
    .left-heading-2 h2 {
        font-size: 18px;
    }

    .left-heading-2 h4 {
        font-size: 14px;
    }

    .heading h2 {
        font-size: 18px;
        margin-top: 5px;
    }

    .adv {
        width: 200px;
    }

    .main-2 {
        width: 95%;
    }

    .category-product-2 {
        height: 480px;
    }
}

@media(max-width: 700px) {
    .main-2 {
        width: 97%;
    }
}

@media(max-width: 680px) {
    .main {
        width: 60%;
    }

    .main-2 {
        width: 102%;
    }

    .category-product {
        height: 530px;
    }

    .category-2 {
        height: 450px;
    }
}

@media(max-width: 628px) {
    .left-heading-2 h2 {
        font-size: 16px;
    }

    .left-heading-2 h4 {
        font-size: 13px;
    }

    .heading h2 {
        font-size: 16px;
    }

    .heading-1 {
        font-size: 13px;
    }

    .main {
        width: 53%;
    }

    .main-2 {
        width: 111%;
    }

    .category-product {
        height: 530px;
    }
}

@media(max-width: 620px) {
    .adv {
        display: none;
    }

    .main {
        width: 99%;
    }

    .main-2 {
        width: 58%;
    }
}

@media(max-width: 360px) {
    .category-product-2 {
        height: 500px;
        margin-left: 10px;
    }

    .main-2 {
        width: 67%;
    }

    .category-product {
        margin-left: 11px;
        margin-right: 10px;
    }

    .main {
        width: 100%;
    }
}
